name: Build & Push Docker Images

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push PHP Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/firojatech-php:latest -f Dockerfile .
          docker push ${{ secrets.DOCKER_USERNAME }}/firojatech-php:latest

      - name: Build & Push Node Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/firojatech-node:latest -f Dockerfile.node .
          docker push ${{ secrets.DOCKER_USERNAME }}/firojatech-node:latest